# Database credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# JWT Configuration
JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

# Database URLs
USERS_DATABASE_URL=postgresql+asyncpg://user:password@postgres-users:5432/users_db
CORE_DATABASE_URL=postgresql+asyncpg://user:password@postgres-core:5432/core_db
ANALYTICS_DATABASE_URL=postgresql+asyncpg://user:password@analytics-db:5432/analytics_db

# RabbitMQ URL
RABBITMQ_URL=amqp://user:password@rabbitmq:5672/

# Redis URL
REDIS_URL=redis://redis:6379/0